
@{
    ViewBag.Title = "ProjectDetails";
    var projectDetails = ViewBag.ProjectDetails;
    var assignedMembers = ViewBag.AssignMember;
    var fileNames = ViewBag.FileNames;
}

<style>
    .scrollable-menu {
        height: auto;
        max-height: 80px;
        overflow-x: hidden;
    }
</style>

<div class="row">
    <h3 class="section-title">Update Project Information</h3>
    <hr><br>
    <div class="col-md-4">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" value=@projectDetails.Name disabled>
        </div>

        <div class="form-group">
            <label>Code Name</label>
            <input type="text" class="form-control" value=@projectDetails.CodeName disabled>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="4" disabled> @projectDetails.Description</textarea>
        </div>

        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" value=@projectDetails.Status disabled>
        </div>

        <div class="form-group">
            <label>Possible Start Date</label>
            <input type="text" class="form-control" value=@projectDetails.StartDate disabled>
        </div>

        <div class="form-group">
            <label>Possible End Date</label>
            <input type="text" class="form-control" value=@projectDetails.EndDate disabled>
        </div>

        <div class="form-group">
            <label>Duration (in Days)</label>
            <input type="text" class="form-control" value=@projectDetails.Duration disabled>
        </div>

        <div class="form-group">
            <label>Uploaded File</label>
            @if (fileNames == null)
            {
                <input type="text" class="form-control" value="No File Uploaded Yet" disabled>
            }
            else
            {
                <ul class="scrollable-menu" role="menu">
                    @foreach (var item in fileNames)
                    {
                        
                        <li>
                            @Html.ActionLink((string)item, "DownloadFile", new { fileName = item, code = projectDetails.CodeName})
                        </li>

                    }

                </ul>
            }
            
                
            
        </div>

        <div class="form-group">
            <label>Assigned Members</label>
            <div style="overflow-y: scroll; height: 160px ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Designation</th>
                        </tr>
                    </thead>
                    <tbody >
                        @foreach (var item in assignedMembers)
                        {
                            <tr>
                                <td>@item.User.Name</td>
                                <td>@item.User.UserDesignation.Type</td>
                            </tr>
                        }
                       
                    </tbody>
                    
                </table>
            </div>
                
        </div>
    </div>

    <div class="col-md-8">
        Started this section
    </div>
</div>

